@import url(http://fonts.googleapis.com/css?family=Krona+One);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(/assets/themes/aranja/images/low_contrast_linen.png) repeat;
}

.title {
  font-family: "Krona One";
  margin: 20px 10px 5px 10px;
}

.experiment {
  margin: 10px;
  float: left;
  position: relative;

  -moz-box-shadow: 1px 1px 8px #201717;
  -webkit-box-shadow: 1px 1px 8px #201717;
  box-shadow: 1px 1px 8px #201717;
}

.experiment h3 {
  position: absolute;
  left: 0;
  top: 0;

  margin: 0 10px;

  text-shadow:
   -1px -1px 0 #333,  
    1px -1px 0 #333,
   -1px  1px 0 #333,
    1px  1px 0 #333;

  color: #ccc;
  font-family: "Yanone Kaffeesatz";
  font-size: 20px;
}

.experiment p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  margin: 0;
  padding: 5px;

  color: #ccc;
  background: rgba(0, 0, 0, 0.4)
}

.inset {
  color: #686868;
  text-shadow: 0px 2px 3px #201717;
}